/* common */

body {
  margin: 0;
  padding: 0;
  background-color: #252525;
}

ul {
  list-style: none;
  padding: 0;
}

.white {
  color: #FFF;
}
/* header */

header {
  height: 100px;
  font-family: serif;
  display: none;
}

header .container {
  height: 80px;
  padding: 0 32px;
  background-color: #FFF;
  display: flex;
  gap: 30px;
  align-items: center;
}

header .profile {
width: 50px;
height: 50px;
}

header img {
  border-radius: 30%;
}

header .menu {
  margin-left: auto;
} 

/* main */

main .bgimg {
  height: 680px;
  opacity: .9;
  position:relative;
  background-image: url(../img/microphone.png);
  background-size: cover;
  background-position: center;
}

main .text-title {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  margin: 0;
  padding: 56px;
  text-align: center;
  background-color: #fff;
  opacity: 0.9;
}



main .text-nav-left {
  width: 500px;
  padding: 40px 0;
  line-height: 32px;
  background-color: #fff;
  opacity: 0.9;
  margin: auto;
  text-align: center;
}

main .text-nav-right {
  width: 500px;
  padding: 40px 0;
  line-height: 32px;
  background-color: #fff;
  opacity: 0.9;
  margin: auto;
  text-align: center;
}

main .flex {
  display: flex;
  position: absolute;
  gap: 32px;
  top: 264px;
  left: 32px;
  right:32px;
  margin: 0;
}

/* sound */

.sound .letter {
  color: #fff;
  margin-top: 40px;
  padding-left: 40px;
  padding-bottom: 16px;
  border-bottom: 2px solid #fff;

}

.sound .white {
  margin-left: 80px;
  width: 464px;
}

.sound .container {
  display: flex;
  gap: 40px;
  flex-grow: 0;
  flex-shrink: 0;
}

.sound .container1 {
  display: flex;
  margin-top: 48px;
  margin-left: 80px;
  margin-right: 16px;
  margin-bottom: 48px;
  padding: 32px;
  background-color: #d6d6d6;
  width: 400px;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.sound .artist {
  font-size: 24px;
  border-bottom: 1px solid #000;
  margin-left: 24px;
}


.sound .soundname {
  line-height: 32px;
  margin-left: 100px;
}

.sound .honbun { 
  width: 400px;
  margin-top: 48px;
  padding-top: 32px;
  color: #FFF;
  flex-grow: 0;
  flex-shrink: 0;
}